@page "/"
@using _3ai.solutions.Saferpay.Models;
@inject _3ai.solutions.Saferpay.SaferpayService saferpayService;
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<iframe src="@url"></iframe>

@code
{
    string url;
    protected override void OnInitialized()
    {
        var response = saferpayService.PaymentPageInitialize(new PaymentPageInitializeRQ()
            {
                RequestHeader = new RequestHeader()
                {
                    SpecVersion = "1.20",
                    CustomerId = "12345",
                    RequestId = "12345",
                    RetryIndicator = 0
                },
                TerminalId = "12345",
                Payment = new Payment()
                {
                    Amount = new Amount()
                    {
                        Value = "1000",
                        CurrencyCode = "CHF"
                    },
                    OrderId = "12345",
                    Description = "Test"
                },
                ReturnUrl = new ReturnUrl()
                {
                    Url = "https://www.3ai.solutions"
                }
            });
        url = response.ReturnUrl;
    }
}
