@page "/"
@using _3ai.solutions.Saferpay.Models;
@inject _3ai.solutions.Saferpay.SaferpayService saferpayService;
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<iframe src=""></iframe>

@code
{
    protected override void OnInitialized()
    {
        var response = saferpayService.PaymentPageInitialize(new PaymentPageInitializeRQ() { });
    }
}
